{% extends 'base.html' %}


{% block content %}


<div class="col-md-8 mx-auto mt-5">
    <h1>Liste de produits</h1>
    <a href="{% url "ajouter_produit" %}" class="btn btn-success bg-success text-light">Ajouter</a>
    <table class="table mt-5">
        <tr>
            <th>Réference</th>
            <th>Image</th>
            <th>Désignation</th>
            <th>Categorie</th>
        </tr>
 
        {% for produit in produits %}

        <tr>
            <td>{{ produit.reference}}</td>
            <td><img src="{{ produit.image.url }}" alt="{{ produit.designation }}"  class="img-fluid rounded-circle" style="max-width: 100px;"></td>
            <td>{{ produit.designation }}</td> 
            <td>{{ produit.categorie }}</td>   
            <td><a href="{% url 'detail_produit' produit.id %}" class="btn btn-dark bg-dark text-light">Details</a></td>    
        </tr>

        {% endfor %} 

    </table>
  </div>


{% endblock %}