{% extends 'base.html' %}


{% block content %}


<div class="col-md-8 mx-auto mt-5">
<h1>Liste de categories</h1>
<a href="{% url 'ajouter_categorie' %}" class="btn btn-success bg-success text-light ">Ajouter</a>
    <table class="table mt-5">
        <tr>
            <th>image</th>
            <th>Designation</th>
            <th>Description</th>
        </tr>
 
        {% for categorie in categories %}

        <tr>
            <td><img src="{{ categorie.image.url }}" alt="{{ categorie.designation }}"  class="img-fluid rounded-circle" style="max-width: 100px;"></td>
            <td>{{ categorie.designation }}</td> 
            <td>{{ categorie.description }}</td>  
            <td><a href="{% url 'detail_categorie' categorie.id %}" class="btn btn-dark bg-dark text-light">Details</a></td>    
        </tr>

        {% endfor %} 

    </table>
  </div>


{% endblock %}